* {
    box-sizing: border-box;
    

}

body {
   line-height: 1.5;

}

.f-submit,.green{

    background-color: rgb(91, 175, 175);
    padding:5px 7px;
    margin:2px;
    border:none;

}

.blue {

    background-color: rgb(91, 106, 175);
    padding:5px 7px;
    margin:2px;
    border:none;
    color:white
}

.cou-list{

    list-style-type: none;
}